<h1> Place I've been </h1>

<ul>
  <% for place in @place %>
    <li>
      <a href="/places/<%= place ["id"] %>"><%= place["name"]%></a>
    </li>
  <% end %>
</ul>

<p>
<a href = "/places/new"> ADD a new place </a>
</p>
